.listContainer {
  overflow-y: auto;
  height: 100%;
}

.virtualList {
  position: relative;
}

.virtualRow {
  background-color: var(--mui-palette-primary-main);
  color: var(--mui-palette-primary-contrastText);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
}
